body{
color: black;
font-family: 'Poppins', sans-serif;
line-height: normal;
}


.appContainer {
max-width: 600px;
margin:50px auto;
padding: 20px 15px;
border: 1px solid #dadde1;
border-radius: 6px;
}
 
.columns{
    margin:0 20px;
}
.col-6{
    margin-top: 20px;
    padding: 12px;
}

.cityData {
    text-align: right;
}

.leftList .propertiesList {
    text-align: left;
    padding: 0px;
}

h1 {
    font-size: 28px;
}
.date{
    font-size: 18px;
}

p{
    display:inline;
    font-size: 28px;

}
ul{
    list-style: none;  
    text-transform: capitalize;
    padding-left: 0;
}

.cityData a {
    color: black;
    font-size: 28px;
text-decoration: none;
    cursor: default;
}


.button {
    text-align: center;
}

footer { 
text-align: center;
}